body {

}
#game-wrap {
	width: 400px;
	margin: 0 auto;
	text-align: center;
}
#outer-box {
	border: 3px solid gray;
	padding:20px;
	border-radius: 50%;
}
.row {
	width: 100%;
}
.row:after {
	content: "";
    display: table;
    clear: both;
}
.one-half {
	width: 50%;
}
.box {
	width: 155px;
	height: 155px;
	margin: 10px;
	float: left;
	opacity: .3;
}
.red {
	background-color: red;
	border-top-left-radius: 100%;
}
.blue {
	background-color: blue;
	border-top-right-radius: 100%;
}
.green {
	background-color: green;
	border-bottom-left-radius: 100%;
}
.yellow {
	background-color: yellow;
	border-bottom-right-radius: 100%;
}
.box:hover {
	opacity: 1;
}
.hover {
	opacity: 1;
}