body {
	background-color: #fafafa;
}
#game-wrap {
	width: 400px;
	margin: 0 auto;
	margin-top:50px;
	text-align: center;
}
#outer-circle {
	padding:20px;
	border-radius: 50%;
	background-color: #000;
}
#inner-circle {
	width:150px;
	height:150px;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
	margin: 105px;
	background-color: #000;
	color: #fff;
	font-size: 35px;
	text-align: center;
	padding-top:55px;
}
.row {
	width: 100%;
}
.row:after {
	content: "";
    display: table;
    clear: both;
}
.one-half {
	width: 50%;
}
.box {
	width: 160px;
	height: 155px;
	margin: 10px;
	float: left;
	opacity: .5;
	position: relative;
}
.red {
	background-color: red;
	border-top-left-radius: 100%;
}
.blue {
	background-color: blue;
	border-top-right-radius: 100%;
}
.green {
	background-color: green;
	border-bottom-left-radius: 100%;
}
.yellow {
	background-color: yellow;
	border-bottom-right-radius: 100%;
}
.hover {
	opacity: 1;
}