body {
	background-color: #fafafa;
}
#game-wrap {
	width: 550px;
	margin: 0 auto;
	text-align: center;
	clear: both;
	background-color: #cecece;
	padding:50px;
}
#outer-circle {
	width:400px;
	padding:20px;
	border-radius: 50%;
	background-color: #000;
	margin: 0 auto;
}
#inner-circle {
	width:150px;
	height:150px;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
	margin: 105px;
	background-color: green;
	border: 10px solid black;
	color: #fff;
	font-size: 30px;
	text-align: center;
	padding-top:45px;
	cursor: pointer;
}
#score-box {
	width: 550px;
	font-size: 20px;
	line-height: 10px;
	margin: 0 auto;
	color: #fff;
	padding: 5px;
	background-color: #000;
	text-align: right;
}
#bonus {
	display: none;
	font-size: 50px;
	float: right;
	z-index: 3;
}
.row {
	width: 100%;
}
.row:after {
	content: "";
    display: table;
    clear: both;
}
.one-half {
	width: 50%;
}
.box {
	width: 160px;
	height: 155px;
	margin: 10px;
	float: left;
	opacity: .5;
	position: relative;
	cursor: pointer;
}
.red {
	background-color: red;
	border-top-left-radius: 100%;
}
.blue {
	background-color: blue;
	border-top-right-radius: 100%;
}
.green {
	background-color: green;
	border-bottom-left-radius: 100%;
}
.yellow {
	background-color: yellow;
	border-bottom-right-radius: 100%;
}
.hover {
	opacity: 1;
}